In [1]:
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')
%matplotlib inline

In [2]:
url = "https://min-api.cryptocompare.com/data/histoday?fsym=BTC&tsym=USD&limit=10&e=Coinbase"
f = requests.get(url)
ipdata = f.json()
df = pd.DataFrame(ipdata['Data']).head(5)

     close     high      low     open        time  volumefrom      volumeto
0  8267.33  8826.00  8226.00  8587.50  1570752000    11975.39  1.012384e+08
1  8309.03  8425.00  8261.46  8267.33  1570838400     3001.53  2.502358e+07
2  8282.97  8469.02  8146.47  8309.03  1570924800     5459.53  4.549233e+07
3  8355.00  8409.00  8215.66  8282.97  1571011200     4401.82  3.657583e+07
4  8162.44  8420.00  8085.65  8355.00  1571097600     7919.56  6.510995e+07

In [3]:
n = 50

def BBands(ipdata, window=n):
    MA = ipdata.close.rolling(window=n).mean()
    SD = ipdata.close.rolling(window=n).std()
    Data['UpperBB'] = MA + (2 * SD)
    Data['LowerBB'] = MA - (2 * SD)

In [5]:
df = pd.concat([df.close, df.UpperBB, df.LowerBB])

plt.show(axis=1, grid=True)

AttributeError: 'function' object has no attribute 'UpperBB'