In [1]:
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')
%matplotlib inline

In [2]:
url = "https://min-api.cryptocompare.com/data/histoday?fsym=BTC&tsym=USD&limit=10&e=Coinbase"
f = requests.get(url)
ipdata = f.json()
pd.DataFrame(ipdata['Data']).head(5)

     close     high      low     open        time  volumefrom      volumeto
0  7859.79  8176.18  7780.85  8147.63  1570320000     7770.16  6.175305e+07
1  8209.00  8310.57  7762.35  7859.79  1570406400     9969.38  8.069116e+07
2  8180.00  8342.97  8107.26  8209.00  1570492800     5808.84  4.767487e+07
3  8590.00  8709.00  8121.00  8180.00  1570579200    13865.37  1.171438e+08
4  8587.50  8660.00  8452.50  8590.00  1570665600     7892.41  6.753165e+07

In [7]:
n = 50

def BBands(ipdata, window=n):
    MA = ipdata.close.rolling(window=n).mean()
    SD = ipdata.close.rolling(window=n).std()
    Data['UpperBB'] = MA + (2 * SD)
    Data['LowerBB'] = MA - (2 * SD)

<function BBands at 0x11d377ae8>

In [8]:
df = pd.concat([ipdata.close, ipdata.UpperBB, ipdata.LowerBB])

plt.show(axis=1, grid=True)

AttributeError: 'dict' object has no attribute 'close'