In [1]:
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')
%matplotlib inline

In [2]:
url = "https://min-api.cryptocompare.com/data/histoday?fsym=BTC&tsym=USD&limit=100&e=Coinbase&api_key={41795afb1f7c46907430d8039e1e3b6722609731b1986b22c0c9c3c8947efcf2}"
f = requests.get(url)
ipdata = f.json()
df = pd.DataFrame(ipdata['Data']).head(5)
df.head()

,close,high,low,open,time,volumefrom,volumeto
0,9422.72,11040.00,9350.00,10854.47,1563235200,39003.84,3.913329e+08
1,9696.31,9998.00,9071.00,9422.72,1563321600,34221.67,3.270446e+08
2,10649.07,10799.00,9291.00,9696.31,1563408000,30779.80,3.121006e+08
3,10538.06,10777.21,10111.00,10649.07,1563494400,18921.67,1.978338e+08
4,10761.03,11112.31,10360.65,10538.06,1563580800,16334.01,1.753158e+08