<h1>Crypto currency heatmap</h1>

## Purpose
The purpose of this notebook is to see the correlations between different crypto currencies using a heatmap, and checking the returns using statistical methods. 

## Methodology
Crypto currencies tend to be heavily correlated, especially alt-coins. When bitcoin is performing well or has an aggressive move, alt-coins tend to underperform.

## WIP - improvements
Make February plot 

Notable TODOs:
- Clean up code so execution time is faster;
- Make February plot;
- Use mask to clean up heatmap.

# Setup

## Library import
We import all the required Python libraries

In [1]:
# API Calls
import requests

# Data manipulation
import pandas as pd
import numpy as np

# Visualizations
import matplotlib.pyplot as plt
import seaborn as sns

# Statistics
import scipy


# Data import
We retrieve all the required data for the analysis.

In [2]:
url = "https://min-api.cryptocompare.com/data/histoday?fsym=BTC&tsym=USD&limit=10&e=Coinbase"
f = requests.get(url)
ipdata = f.json()
pd.DataFrame(ipdata['Data']).head(5)

         time     close      high      low      open  volumefrom      volumeto
0  1581379200  10270.01  10400.00   9706.0   9851.78    16160.17  1.623668e+08
1  1581465600  10351.13  10483.86  10250.0  10270.01    13601.13  1.407570e+08
2  1581552000  10236.49  10522.51  10083.1  10351.13    15985.79  1.644893e+08
3  1581638400  10371.33  10395.66  10102.5  10236.49     8025.16  8.245419e+07
4  1581724800   9911.22  10400.00   9750.0  10371.33    10903.02  1.096473e+08